.theme-menu__button:disabled {
    pointer-events: none;
    animation: opacityChange 0.3s ease forwards;
}
  
.theme-menu__button:hover {
    animation: opacityChange 0.3s ease forwards;
}
  
.theme-menu__button:focus {
    outline: none;
}

.theme-menu__button:focus-visible {
    animation: opacityChange 0.3s ease forwards;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}
  
@keyframes opacityChange {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.6;
    }
}
  
.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    font-size: 15px;
    top: -1px;
    animation: pulseInMenu 0.5s ease-in-out infinite alternate;
}
  
@keyframes pulseInMenu {
    from {
      left: -24px;
    }
    to {
      left: -19px;
    }
}

.button-with-border:hover::before {
    transform: scaleX(1);
}

.card__icon-button:focus-visible {
    transition: 0.3s ease;
    border: 2px solid var(--accent-text-color);
}
  
.contour {
    transition: 0.1s linear;
    fill: var(--border-color);
}
  
.sparks {
    opacity: 0;
    fill: var(--paint-heart);
}
  
.main-body {
    transition: 0.3s linear;
    fill: var(--background-color);
}
  
.core {
    transition: 0.3s linear;
    transition-delay: 0.03s;
    fill: var(--background-color);
}
  
.like-icon:hover .core {
    transition: 0.3s linear;
    fill: var(--border-color);
}

.like-icon:hover .main-body {
    transition: 0.3s linear;
    transition-delay: 0.05s;
    fill: var(--border-color);
}
 
.like-icon:active .core {
    transition: 0.3s linear;
    fill: var(--paint-heart);
}

.like-icon:active .main-body {
    transition: 0.3s linear;
    transition-delay: 0.05s;
    fill: var(--paint-heart);
}
  
.like-icon.is-liked .core {
    transition: 0.3s linear;
    fill: var(--paint-heart);
}
  
.like-icon.is-liked .main-body {
    transition: 0.3s linear;
    transition-delay: 0.05s;
    fill: var(--paint-heart);
}
  
.like-icon.is-liked .contour {
    transition: 0.3s linear;
    transition-delay: 0.06s;
    fill: var(--paint-heart);
}
  
.like-icon.is-liked {
    animation-delay: 0.1s;
    animation: scalingHeart 0.3s ease-in 1 alternate;
    transform-origin: center center;
}

@keyframes scalingHeart {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
}
  
.like-icon.is-liked .sparks {
    animation: sparksSplash 0.3s ease-in 1 alternate;
    animation-delay: 0.3s;
}
  
@keyframes sparksSplash {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}